body{
    background-image:linear-gradient(45deg, black, blue, black);
}

.container{
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 25px 80px 50px;
    grid-template-areas: "header header" "sidenav contet" "footer footer";
}

.itemheader{
    color: rgb(0, 0, 0);
    background-color: rgb(133, 162, 236);
    border: 3px solid #000;
    text-align: center;
  width: 1325px;

}
.itemsidenav{
    color: rgb(0, 0, 0);
    background-color: rgb(133, 162, 236);
    border: 3px solid #000;
    text-align: center;

}
.itemcontent{
    color: rgb(0, 0, 0);
    background-color: rgb(133, 162, 236);
    border: 3px solid #000;
    text-align: center;

}
.itemfooter{
    color: rgb(0, 0, 0);
    background-color: rgb(133, 162, 236);;
    border: 3px solid #000;
    text-align: center;
    width: 1325px;
    height: 40%;
}
