body{
    background-image: url(tank\ da\ pagina\ de\ login.jpg);
   background-size:contain;
}
.main-login{
    width:50vw;
    height: 0vw;
    background-color: #190603;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.left-login{
    width:25vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
        color: red;
}

.left-login > h1 {
    color: red;
}

.right-login{
    width:25vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(154, 26, 26);
    border-radius: 20px;
    box-shadow: 0px 2
    0px 60px rgb(61, 0, 0);
}

.card-login{
    color: rgb(0, 0, 0);
}
   
.card-login{
        color: rgb(0, 0, 0);
}