*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height:100vh;
    background-color: #fea3a3;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.bolhas{
    position: absolute;
    display: flex;
}

.bolhas span{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #ff0000;
    margin: 0 4.1px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ff000044, 
    0 0 50px #ff0000,
    0 0 100px #ff0000 ;
    animation-delay: 0s;
    animation: animar calc(150s / var(--i)) 0s linear infinite;
}


@keyframes animar{

    0%{
       transform: translateY(100vh) scale(0);
    }

    100%{
        transform: translateY(-10vh) scale(1);
    }

}

.bolhas span:nth-of-type(even){

    background: #ff2d2d;
    box-shadow: 0 0 0 10px #ff000044, 
    0 0 50px #ff0000,
    0 0 100px #ff1e00 ;
}
